<div class="gameCard">
    <div class="gameCard-cover-wrapper">
        <img class="gameCard-cover" src="" alt="game cover">
    </div>
    <article class="gameCard_info">
        <div>
            <h3 class="gameCard-title"></h3>
            <p class="gameCard-description"></p>
        </div>
        <div>
        </div>
    </article>
    <div>
        <p class="gameCard-price"></p>
        <button class="gameCard_button">Add to cart</button>
    </div>
</div>