{% layout "layouts/base.liquid" %} 

{% block content %}
 <section>
  {% comment %} render the showcase.liquid {% endcomment %}
  {% include "components/showcase/showcase.liquid" %}
 </section>
 <section>

 </section>
  <section>
  </section>
{% endblock %}