.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 1em;    
    border-radius: var(--border-radius);
    filter: var(--boxshadow-cards);
    gap: 0.3em;
    transition: all 0.2s ease-in-out;
}

.button.button-back {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    display: inline-flex;
    padding: .5rem 0.2rem;
    width: fit-content;
}

.button.button-back::before {
    content: '←';

}

.button.button-back:hover {
    padding-bottom: .2rem;  
}

.button.button-detail {
	background-color: var(--color-bg);
    color: var(--color-primary);
    border: var(--button-border);
}

.button.button-buy {
	background-color: var(--color-primary);
    color: var(--color-bg);
}

a.button.button-buy {
	background-color: var(--color-primary);
    color: var(--color-bg);
}

li.button.button-buy::after {
    content: url(/images/buy-black.svg);
}

li.button.button-buy:hover,
.button.button-buy:hover {
    background-color: var(--color-bg);
    border: var(--button-border);
}

li.button.button-buy:hover a,
a.button.button-buy:hover {
    color: var(--color-primary);
}


li.button.button-buy:hover::after,
.button.button-buy:hover::after {
    content: url(/images/buy-white.svg);
}

.button.button-buy::after {
    content: url(/images/buy-black.svg);
}